:root {
	--system-ui: system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--whiskey: #bb7124;
	--bombay: #6294bc;
	--gray: #cdd6db;
	--white: #f9fafa;
	--black: #101313;
}

main {
	padding-top: 5rem;
}

body {
	margin: 0;
	font-family: var(--system-ui);
	font-weight: 300;
	background-image: url('../../assets/bar-wall.jpg');
	background-size: cover;
	background-color: var(--black);
	color: var(--white);
}

a {
	color: var(--white);
	text-transform: none;
	box-sizing: border-box;
	transition: color 0.5s ease;
}

a:hover {
	color: var(--bombay);
}

button {
	margin: 1rem;
	border: none;
	outline: 1px solid var(--gray);
	background-color: var(--white);
	color: var(--black);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background-color 0.5s ease;
}

button:hover {
	cursor: pointer;
	background-color: var(--bombay);
	color: var(--white);
}

button:active {
	background-color: #497fab;
}
