.Home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc((var(--vh, 1vh) * 100) - 5rem);
	justify-content: center;
}

.Home h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3rem;
	font-weight: 400;
}

.Home-action-buttons {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 899px) {
	.Home-action-buttons {
		flex-direction: column;
		align-items: center;
	}

	.Home-action-buttons button {
		max-width: max-content;
	}
}
