.Home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 5rem);
	justify-content: center;
}

.Home h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3rem;
	font-weight: 400;
}

.Home-action-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
}
